    <footer style="margin: 2em;">
      <p>&copy; 2021 Simple Blog</p>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/articles">Articles</a></li>
          <li<a href="#">About</a></li>
      </ul>
    </footer>